@charset "utf-8";
/* CSS Document */

html {}
body {
    background: #1c2653;
    color: #FFF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 26px;
}

table {}
table th {}
table tr {}
table td {}