<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Zadanie_4">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/java/basic"/>
        <property name="context-root" value="Zadanie_4"/>
        <property name="java-output-path" value="/Zadanie_4/build/classes"/>
    </wb-module>
</project-modules>
